In [4]:
import pandas as pd
import sqlite3
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

In [5]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("collectors/data.sqlite3")
job_df = pd.read_sql_query("SELECT * from job_post", con)
company_review_df = pd.read_sql_query("SELECT * from company_review", con)
job_interview_df = pd.read_sql_query("SELECT * from job_interview", con)
con.close()

In [6]:
job_interview_df.head()

,id,company,title,question,date,source,search_kw
0,1,Axiom Zen,Data Scientist Coop,He just asked me to introduce myself...,"Jul. 14, 2019",glassdoor.com,data scientist
1,2,Geotab,Data Scientist,Past projects,"Mar. 6, 2019",glassdoor.com,data scientist
2,3,Benbria,"Full-stack Developer, Data Scientist",NLP challenge about finding semantic similarit...,"Nov. 11, 2015",glassdoor.com,data scientist
3,4,Banque Nationale du Canada/National Bank of Ca...,Data Scientist,What measure would you use to assess the perfo...,"Nov. 25, 2019",glassdoor.com,data scientist
4,5,Geotab,Data Scientist,Walk me through your educational background.,"Feb. 1, 2020",glassdoor.com,data scientist

In [8]:
job_interview_df.describe()

               id
count  510.000000
mean   255.500000
std    147.368586
min      1.000000
25%    128.250000
50%    255.500000
75%    382.750000
max    510.000000

[14, 23, 4, 11, 20, 24, 25]

In [50]:
print(len(job_interview_df[job_interview_df['search_kw']=='']))

99