In [1]:
import pandas as pd
import sqlite3

In [5]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("collectors/data.sqlite3")
job_df = pd.read_sql_query("SELECT * from job_post", con)
company_review_df = pd.read_sql_query("SELECT * from company_review", con)
con.close()

In [6]:
# Verify that result of SQL query is stored in the dataframe
job_df.head()

,id,title,company,location,description,source
0,1,Data Scientist - Price Point – Start-up company,Groom & Associes,"Vancouver, BC",This company is an e-retailer with a unique me...,indeed.com
1,2,Human Resources Data Scientist,Rio Tinto,Canada,2 x newly created Data Scientist opportunities...,indeed.com
2,3,Lead - Human Resource Data Scientist,Rio Tinto,Canada,Newly created data science lead embedded withi...,indeed.com
3,4,Data Scientist,Visier Inc.,"Vancouver, BC",What you'll be doing...\nWhat you'll bring to ...,indeed.com
4,5,Associate Data Scientist,TrainTurf Academic Solutions Limited,"Vancouver, BC",We are looking for a Data Scientist to support...,indeed.com

In [7]:
company_review_df.head()

,id,company,title,rating,author,author_status,location,date,description,source
0,1,Air Canada,fun place to work at,5.0,Ramp Agent,Former Employee,"Toronto, ON",6 October 2019,Air Canada is one of the best working environm...,indeed.com
1,2,Air Canada,Great workplace!,5.0,Station Attendant,Former Employee,"Calgary, AB",10 March 2020,Best place to work in Canada. Opportunities to...,indeed.com
2,3,Air Canada,Poor teamwork,1.0,Concierge,Former Employee,"Vancouver, BC",9 March 2020,Work environment very stressful. No real sense...,indeed.com
3,4,Air Canada,Good company,5.0,Reservation Agent,Current Employee,"Montréal, QC",8 March 2020,Good company to work with they have good benef...,indeed.com
4,5,Air Canada,Great company but..,5.0,CABIN CREW MANAGER IFS,Former Employee,"Toronto, ON",3 March 2020,AC is a great company but work where you have ...,indeed.com